/*=================================================
=            Here comes the base syles            =
=================================================*/
html{
	height: 100%;
}


*{
	box-sizing:border-box;
}

body{
	margin:0;
	padding:0;
	font-family:"nexa", helvetica;
	height:100%;

	&.noscroll{
		overflow: hidden;
	}
}

/*=====  End of Here comes the base syles  ======*/
