/*================================================
=            Here comes the variables            =
================================================*/
$white:#FFFFFF;
$black:#202020;
$grey:#606060;

$pink:#ff3268;
$pinkHover:#ff658e;
$pinkShadow:#ca2b55;

$blue:#2800a0;
$blueHover:#5e40b8;
$blueShadow:#120145;

$green:#00d66c;
$greenHover:#4de298;
$greenShadow:#1e9162;

$whiteTransparent:rgba(255,255,255,.7);
$lightBrown:#f3e5d8;


/*=====  End of Here comes the variables  ======*/
