/*=======================================
=            Content styling            =
=======================================*/





main{
    position: relative;
}

section{
	position: relative;
	padding:1em;


}






/*=====  End of Content styling  ======*/
