/*===========================================
=            tablet mediaqueries            =
===========================================*/	


@media (min-width: 48em) {


	aside{
		width: 50%;
		box-shadow: 0  0 .3125em .625em rgba(0,0,0,.15);
	}


	section{
		display: flex;

		.filter {
			position: absolute;
		    right: 2em;

			select{
				width: auto;
			}
		}
	}

	.container-tablet{
		width: calc(100%/2);
		padding:1em;
	}


	.form{
		text-align:center;
		form{
			width: 50%;
			margin:0 auto;
			max-width: 30em;
		}
	}

}


/*=====  End of tablet mediaqueries  ======*/
